wandb==0.16.1
open3d==0.17.0
multimethod==1.10
termcolor==2.4.0
trimesh==4.0.7
easydict==1.11
torch==2.1.0+cu121
torchaudio==2.1.0+cu121
torchdata==0.7.0
pymeshfix==0.16.1
-e "git+https://github.com/Silverster98/pointops#egg=pointops" 